<table>
	<tbody>
		<tr>
			<td class="even"><a href="#" {{action 'prepare' 0 0 2}} {{bind-attr class="isSelected:selected"}}>♜</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 1 0 3}} {{bind-attr class="isSelected:selected"}}>♞</a></td>
			<td class="even"><a href="#" {{action 'prepare' 2 0 4}} {{bind-attr class="isSelected:selected"}}>♝</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 3 0 6}} {{bind-attr class="isSelected:selected"}}>♛</a></td>
			<td class="even"><a href="#" {{action 'prepare' 4 0 5}} {{bind-attr class="isSelected:selected"}}>♚</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 5 0 4}} {{bind-attr class="isSelected:selected"}}>♝</a></td>
			<td class="even"><a href="#" {{action 'prepare' 6 0 3}} {{bind-attr class="isSelected:selected"}}>♞</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 7 0 2}} {{bind-attr class="isSelected:selected"}}>♜</a></td>
		</tr>
		<tr>
			<td class="odd"><a href="#" {{action 'prepare' 0 1 7}} {{bind-attr class="isSelected:selected"}}>♟</a></td>
			<td class="even"><a href="#" {{action 'prepare' 1 1 7}} {{bind-attr class="isSelected:selected"}}>♟</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 2 1 7}} {{bind-attr class="isSelected:selected"}}>♟</a></td>
			<td class="even"><a href="#" {{action 'prepare' 3 1 7}} {{bind-attr class="isSelected:selected"}}>♟</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 4 1 7}} {{bind-attr class="isSelected:selected"}}>♟</a></td>
			<td class="even"><a href="#" {{action 'prepare' 5 1 7}} {{bind-attr class="isSelected:selected"}}>♟</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 6 1 7}} {{bind-attr class="isSelected:selected"}}>♟</a></td>
			<td class="even"><a href="#" {{action 'prepare' 7 1 7}} {{bind-attr class="isSelected:selected"}}>♟</a></td>
		</tr>
		<tr>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
			<td class="odd"><a href="#"></a></td>
			<td class="even"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="even"><a href="#" {{action 'prepare' 0 6 1}} {{bind-attr class="isSelected:selected"}}>♙</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 1 6 1}} {{bind-attr class="isSelected:selected"}}>♙</a></td>
			<td class="even"><a href="#" {{action 'prepare' 2 6 1}} {{bind-attr class="isSelected:selected"}}>♙</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 3 6 1}} {{bind-attr class="isSelected:selected"}}>♙</a></td>
			<td class="even"><a href="#" {{action 'prepare' 4 6 1}} {{bind-attr class="isSelected:selected"}}>♙</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 5 6 1}} {{bind-attr class="isSelected:selected"}}>♙</a></td>
			<td class="even"><a href="#" {{action 'prepare' 6 6 1}} {{bind-attr class="isSelected:selected"}}>♙</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 7 6 1}} {{bind-attr class="isSelected:selected"}}>♙</a></td>
		</tr>
		<tr>
			<td class="odd"><a href="#" {{action 'prepare' 0 7 2}} {{bind-attr class="isSelected:selected"}}>♖</a></td>
			<td class="even"><a href="#" {{action 'prepare' 1 7 3}} {{bind-attr class="isSelected:selected"}}>♘</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 2 7 4}} {{bind-attr class="isSelected:selected"}}>♗</a></td>
			<td class="even"><a href="#" {{action 'prepare' 3 7 6}} {{bind-attr class="isSelected:selected"}}>♕</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 4 7 5}} {{bind-attr class="isSelected:selected"}}>♔</a></td>
			<td class="even"><a href="#" {{action 'prepare' 5 7 4}} {{bind-attr class="isSelected:selected"}}>♗</a></td>
			<td class="odd"><a href="#" {{action 'prepare' 6 7 3}} {{bind-attr class="isSelected:selected"}}>♘</a></td>
			<td class="even"><a href="#" {{action 'prepare' 7 7 2}} {{bind-attr class="isSelected:selected"}}>♖</a></td>
		</tr>
	</tbody>
</table>