<table>
	<tbody>
		<tr>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 0 0 2}} {{bind-attr class="isSelected:selected:unselected"}}>♜</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 1 0 3}}>♞</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 2 0 4}}>♝</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 3 0 6}}>♛</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 4 0 5}}>♚</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 5 0 4}}>♝</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 6 0 3}}>♞</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 7 0 2}}>♜</a></td>
		</tr>
		<tr>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 0 1 1}}>♟</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 1 1 1}}>♟</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 2 1 1}}>♟</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 3 1 1}}>♟</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 4 1 1}}>♟</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 5 1 1}}>♟</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 6 1 1}}>♟</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 7 1 1}}>♟</a></td>
		</tr>
		<tr>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
		</tr>
		<tr>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
		</tr>
		<tr>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
		</tr>
		<tr>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
			<td class="even"><a href="#" class="js-pion"></a></td>
			<td class="odd"><a href="#" class="js-pion"></a></td>
		</tr>
		<tr>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 0 6 1}}>♙</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 1 6 1}}>♙</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 2 6 1}}>♙</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 3 6 1}}>♙</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 4 6 1}}>♙</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 5 6 1}}>♙</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 6 6 1}}>♙</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 7 6 1}}>♙</a></td>
		</tr>
		<tr>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 0 7 2}}>♖</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 1 7 3}}>♘</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 2 7 4}}>♗</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 3 7 6}}>♕</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 4 7 5}}>♔</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 5 7 4}}>♗</a></td>
			<td class="even"><a href="#" class="js-pion" {{action 'prepare' 6 7 3}}>♘</a></td>
			<td class="odd"><a href="#" class="js-pion" {{action 'prepare' 7 7 2}}>♖</a></td>
		</tr>
	</tbody>
</table>