<table id="echecs">
	<tbody>
		<tr>
			<td class="even" id="case_0_0" data-x="0" data-y="0"><a href="#" class="pion" {{action 'prepare' 0 0 8}}>♜</a></td>
			<td class="odd" id="case_1_0" data-x="1" data-y="0"><a href="#" class="pion" {{action 'prepare' 1 0 9}}>♞</a></td>
			<td class="even" id="case_2_0" data-x="2" data-y="0"><a href="#" class="pion" {{action 'prepare' 2 0 10}}>♝</a></td>
			<td class="odd" id="case_3_0" data-x="3" data-y="0"><a href="#" class="pion" {{action 'prepare' 3 0 12}}>♛</a></td>
			<td class="even" id="case_4_0" data-x="4" data-y="0"><a href="#" class="pion" {{action 'prepare' 4 0 11}}>♚</a></td>
			<td class="odd" id="case_5_0" data-x="5" data-y="0"><a href="#" class="pion" {{action 'prepare' 5 0 10}}>♝</a></td>
			<td class="even" id="case_6_0" data-x="6" data-y="0"><a href="#" class="pion" {{action 'prepare' 6 0 9}}>♞</a></td>
			<td class="odd" id="case_7_0" data-x="7" data-y="0"><a href="#" class="pion" {{action 'prepare' 7 0 8}}>♜</a></td>
		</tr>
		<tr>
			<td class="odd" id="case_0_1" data-x="0" data-y="1"><a href="#" class="pion" {{action 'prepare' 0 1 7}}>♟</a></td>
			<td class="even" id="case_1_1" data-x="1" data-y="1"><a href="#" class="pion" {{action 'prepare' 1 1 7}}>♟</a></td>
			<td class="odd" id="case_2_1" data-x="2" data-y="1"><a href="#" class="pion" {{action 'prepare' 2 1 7}}>♟</a></td>
			<td class="even" id="case_3_1" data-x="3" data-y="1"><a href="#" class="pion" {{action 'prepare' 3 1 7}}>♟</a></td>
			<td class="odd" id="case_4_1" data-x="4" data-y="1"><a href="#" class="pion" {{action 'prepare' 4 1 7}}>♟</a></td>
			<td class="even" id="case_5_1" data-x="5" data-y="1"><a href="#" class="pion" {{action 'prepare' 5 1 7}}>♟</a></td>
			<td class="odd" id="case_6_1" data-x="6" data-y="1"><a href="#" class="pion" {{action 'prepare' 6 1 7}}>♟</a></td>
			<td class="even" id="case_7_1" data-x="7" data-y="1"><a href="#" class="pion" {{action 'prepare' 7 1 7}}>♟</a></td>
		</tr>
		<tr>
			<td class="even" id="case_0_2" data-x="0" data-y="2"><a href="#"></a></td>
			<td class="odd" id="case_1_2" data-x="1" data-y="2"><a href="#"></a></td>
			<td class="even" id="case_2_2" data-x="2" data-y="2"><a href="#"></a></td>
			<td class="odd" id="case_3_2" data-x="3" data-y="2"><a href="#"></a></td>
			<td class="even" id="case_4_2" data-x="4" data-y="2"><a href="#"></a></td>
			<td class="odd" id="case_5_2" data-x="5" data-y="2"><a href="#"></a></td>
			<td class="even" id="case_6_2" data-x="6" data-y="2"><a href="#"></a></td>
			<td class="odd" id="case_7_2" data-x="7" data-y="2"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="odd" id="case_0_3" data-x="0" data-y="3"><a href="#"></a></td>
			<td class="even" id="case_1_3" data-x="1" data-y="3"><a href="#"></a></td>
			<td class="odd" id="case_2_3" data-x="2" data-y="3"><a href="#"></a></td>
			<td class="even" id="case_3_3" data-x="3" data-y="3"><a href="#"></a></td>
			<td class="odd" id="case_4_3" data-x="4" data-y="3"><a href="#"></a></td>
			<td class="even" id="case_5_3" data-x="5" data-y="3"><a href="#"></a></td>
			<td class="odd" id="case_6_3" data-x="6" data-y="3"><a href="#"></a></td>
			<td class="even" id="case_7_3" data-x="7" data-y="3"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="even" id="case_0_4" data-x="0" data-y="4"><a href="#"></a></td>
			<td class="odd" id="case_1_4" data-x="1" data-y="4"><a href="#"></a></td>
			<td class="even" id="case_2_4" data-x="2" data-y="4"><a href="#"></a></td>
			<td class="odd" id="case_3_4" data-x="3" data-y="4"><a href="#"></a></td>
			<td class="even" id="case_4_4" data-x="4" data-y="4"><a href="#"></a></td>
			<td class="odd" id="case_5_4" data-x="5" data-y="4"><a href="#"></a></td>
			<td class="even" id="case_6_4" data-x="6" data-y="4"><a href="#"></a></td>
			<td class="odd" id="case_7_4" data-x="7" data-y="4"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="odd" id="case_0_5" data-x="0" data-y="5"><a href="#"></a></td>
			<td class="even" id="case_1_5" data-x="1" data-y="5"><a href="#"></a></td>
			<td class="odd" id="case_2_5" data-x="2" data-y="5"><a href="#"></a></td>
			<td class="even" id="case_3_5" data-x="3" data-y="5"><a href="#"></a></td>
			<td class="odd" id="case_4_5" data-x="4" data-y="5"><a href="#"></a></td>
			<td class="even" id="case_5_5" data-x="5" data-y="5"><a href="#"></a></td>
			<td class="odd" id="case_6_5" data-x="6" data-y="5"><a href="#"></a></td>
			<td class="even" id="case_7_5" data-x="7" data-y="5"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="even" id="case_0_6" data-x="0" data-y="6"><a href="#" class="pion" {{action 'prepare' 0 6 1}}>♙</a></td>
			<td class="odd" id="case_1_6" data-x="1" data-y="6"><a href="#" class="pion" {{action 'prepare' 1 6 1}}>♙</a></td>
			<td class="even" id="case_2_6" data-x="2" data-y="6"><a href="#" class="pion" {{action 'prepare' 2 6 1}}>♙</a></td>
			<td class="odd" id="case_3_6" data-x="3" data-y="6"><a href="#" class="pion" {{action 'prepare' 3 6 1}}>♙</a></td>
			<td class="even" id="case_4_6" data-x="4" data-y="6"><a href="#" class="pion" {{action 'prepare' 4 6 1}}>♙</a></td>
			<td class="odd" id="case_5_6" data-x="5" data-y="6"><a href="#" class="pion" {{action 'prepare' 5 6 1}}>♙</a></td>
			<td class="even" id="case_6_6" data-x="6" data-y="6"><a href="#" class="pion" {{action 'prepare' 6 6 1}}>♙</a></td>
			<td class="odd" id="case_7_6" data-x="7" data-y="6"><a href="#" class="pion" {{action 'prepare' 7 6 1}}>♙</a></td>
		</tr>
		<tr>
			<td class="odd" id="case_0_7" data-x="0" data-y="7"><a href="#" class="pion" {{action 'prepare' 0 7 2}}>♖</a></td>
			<td class="even" id="case_1_7" data-x="1" data-y="7"><a href="#" class="pion" {{action 'prepare' 1 7 3}}>♘</a></td>
			<td class="odd" id="case_2_7" data-x="2" data-y="7"><a href="#" class="pion" {{action 'prepare' 2 7 4}}>♗</a></td>
			<td class="even" id="case_3_7" data-x="3" data-y="7"><a href="#" class="pion" {{action 'prepare' 3 7 6}}>♕</a></td>
			<td class="odd" id="case_4_7" data-x="4" data-y="7"><a href="#" class="pion" {{action 'prepare' 4 7 5}}>♔</a></td>
			<td class="even" id="case_5_7" data-x="5" data-y="7"><a href="#" class="pion" {{action 'prepare' 5 7 4}}>♗</a></td>
			<td class="odd" id="case_6_7" data-x="6" data-y="7"><a href="#" class="pion" {{action 'prepare' 6 7 3}}>♘</a></td>
			<td class="even" id="case_7_7" data-x="7" data-y="7"><a href="#" class="pion" {{action 'prepare' 7 7 2}}>♖</a></td>
		</tr>
	</tbody>
</table>